{% extends "layout.html" %}
{% block content %}
  <form class="form-login" method="POST" action="/courses">

    <label for="name">Course name:</label>
    <input type="text" name="name" id="name" required>

    <label for="questions">Questions count:</label>
    <input type="number" name="questions" id="questions" required>

	<label for="type">Course type:</label>
    <input type="text" name="type" id="type" required>

    <button id="btnCreate" type="submit">Start</button>
  </form>
{% endblock %}