{% extends "layout.html" %}
{% block content %}
<a href="/profile">Profile</a>

  <form class="form-login" method="POST" action="/courses">

    <label for="name">Course name:</label>
    <input type="text" name="name" id="name" required>

    <label for="questions">Questions count:</label>
    <input type="number" name="questions" id="questions" required>

	<label for="type">Course type:</label>
    <select name='type'>
      {% for type in types: %}
        <option value={%print(type['type'])%}> {%print(type['type'])%} </option>
      {% endfor %}
    </select>

    <button id="btnCreate" type="submit">Start</button>
  </form>

  <br><br><br>
  {% if url and newTitle:%}
    Newest:<br>
    <a href={%print(url)%}>{% print(newTitle) %}</a>
  {% endif%}
  {% endblock %}