{% extends "layout.html" %}
{% block content %}
<div class="col-xs-10 col-md-offset-1">
    <h4>Create a Course</h4>
    <div class="well">
        <form id="createCourseForm" method="POST" action=/createCourse?courseId={%print(id)%}&count={%print(count)%}>
            <textarea cols="50" rows="20" class="form-control" name="description"></textarea>

            {% for i in range(count): %}
                <hr>
                <label for={%print(i+1)%} class="control-label">Question {% print(i+1) %}</label>
                <input type="text" class="form-control" name={%print('questions[{0}]'.format(i+1))%} id={%print(i+1)%} required>

                {% for j in range(2): %}
                    <label for={%print('answer{0}'.format(j+1))%} class="control-label">Answer {%print(j+1)%}</label>
                    <input type='radio' id={%print('answer{0}'.format(j+1))%} name={%print('answers[{0}]'.format(i+1))%} value={%print(j+1)%}>
                    <input type="text" class="form-control" name={%print('questions[{0}]'.format(i + 1))%} id={%print('q{0}a{1}'.format(i+1,j+1))%}>
                {% endfor %}
                <br>
            {% endfor %}

            <button type="submit" class="btn btn-primary btn-block">Create</button>
        </form>
    </div>
</div>
{% endblock %}
