{% extends "layout.html" %}
{% block content %}
<div class="col-xs-10 col-md-offset-1">
    <h4>{% print(request.args.get('title')) %}</h4>
    <div class="well">
        <form method="POST" action=/takeCourse?id={%print(id)%}&title={%print(title)%}>
            {% for key, arr in courseData.items(): %}
                <p><strong>{% print(arr['question']) %}</strong></p>
                <input type='radio' id=a1{%print(key)%} name={%print(key)%} value={% print(arr['answer1']) %}>
                <label for=a1{%print(key)%} class="control-label">{% print(arr['answer1']) %}</label>
                <br>
                <input type='radio' id=a2{%print(key)%} name={%print(key)%} value={% print(arr['answer2']) %}>
                <label for=a2{%print(key)%} class="control-label">{% print(arr['answer2']) %}</label>
                <br>
                <hr>
            {% endfor %}

            <br>

            <button type="submit" class="btn btn-success btn-block">Finish</button>
        </form>
    </div>
</div>
{% endblock %}
