{% extends "layout.html" %}
{% block content %}
  <form class="form-signin" method="POST" action="/signUp">
    <label for="name" class="sr-only">Name</label>
    <input type="name" name="name" id="name" required>

    <label for="email">Email address</label>
    <input type="email" name="email" id="email" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
                                                              
    <button id="btnSignUp" type="submit">Sign up</button>
  </form>
{% endblock %}